<div class="mb-3">
    <label for="inputEmail1" class="form-label">Votre Adresse Email</label>
    <input type="email" name="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" title="Veuillez entrer un e-mail valide" class="form-control" 
      id="inputEmail1" required aria-describedby="emailHelp">
</div>
<div class="mb-3">
    <label for="inputPassword1" class="form-label">Votre Mot De Passe</label>
    <input type="password" name="password" class="form-control" id="inputPassword1" required>
</div>
<div class="mb-3 form-check">
    <input type="checkbox" name="condition" class="form-check-input" id="exampleCheck1" required>
    <label class="form-check-label" for="exampleCheck1">Se Rappeller de moi</label>
</div>

<input type="hidden" name="_token" value="{{ app.user.token }}">

<button type="submit" class="btn btn-primary">Se connecter</button>
