{% extends "layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block hero %}{{ title }}{% endblock %}

{% block body %}
    <form method="post" action='/admin-login'>
      {% include "_partials/connect_form.html.twig" %}
    </form>
{% endblock %}
