{% extends "layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block hero %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-outline-info" href="/password-update">Modifier mon mot de passe</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-outline-info" href="/account-update">Modifier mon compte</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-outline-info" href="/logout">Deconnexion</a>
        </div>
    </div>
{% endblock %}
