{% extends "layout.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block hero %}{{ title }}{% endblock %}

{% block body %}

    <form method="post" action='/password-update'>
       
        <div class="mb-3">
          <label for="inputPassword1" class="form-label">Ancien Mot de passe</label>
          <input type="password" name="lastPassword" class="form-control" id="inputPassword1" required>
        </div>
        <div class="mb-3">
          <label for="inputPassword1" class="form-label">Nouveau mot de passe</label>
          <input type="password" name="newPassword" class="form-control" id="inputPassword1" required>
        </div>
        <div class="mb-3">
            <label for="inputPassword1" class="form-label">Confirmer le nouveau mot de passe</label>
            <input type="password" name="confirmNewPassword" class="form-control" id="inputPassword1" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Changer</button>
    </form>
{% endblock %}